<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marco Aceves</title>
    <link rel="icon" href="static/img/code.png">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Marco Aceves"/>
    
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="static/css/marco.css">

    

</head>
<body>
    <div class="wrappper">
        <!-- nav -->
        <div class="nav_bar">
            <a href="#home" class="active" id="logo">Marco Aceves</a>
            <div id="myLinks">
                <a href="#" class="nav_links">Home</a>
                <a href="#" class="nav_links">About Me</a>
                <a href="#technicalSkills" class="nav_links">Technical Skills</a>
                <a href="#Projects" class="nav_links">Projects</a>
                <a href="#" class="nav_links">Other Skills</a>
                <a href="#" class="nav_links">Contact</a>
            </div>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!-- section 1 about me -->
        <section>
            <div class="box">
                <div class="inner_sec_1">
                    <div class="about">
                        					<!-- contact form -->
					<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
						<div class="contact-form">
							<form action="#" id="contact-form">
								<div class="input-group name-email">
									<div class="input-field">
										<input type="text" name="name" id="name" placeholder="Name" class="form-control">
									</div>
									<div class="input-field">
										<input type="email" name="email" id="email" placeholder="Email" class="form-control">
									</div>
								</div>
								<div class="input-group">
									<textarea name="message" id="message" placeholder="Message" class="form-control"></textarea>
								</div>
								<div class="input-group">
									<input type="submit" id="form-submit" class="btn pull-right" value="Send message">
								</div>
							</form>
						</div>
					
					<!-- end contact form -->
                        
                </div>
            </div>
        </section>


        <footer class="footer">
            <p>Copyright © 2022 Marco Aceves Design & Development,</p>
            <a target="_blank" href="https://icons8.com/icon/dhecLjnptiQg/front-end">Front End, Python, MySQL and Icon by Icons8</a>
        </footer>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
        </script>

</body>

</html>