<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marco Aceves</title>
    <link rel="icon" href="static/img/code.png">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Marco Aceves"/>
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="static/css/marco.css">
    

</head>
<body>
    <div class="wrappper">
        <nav>
            <div class="nav_bar">
                <a href="#" class="nav_links">Home</a>
                <a href="#" class="nav_links">About Me</a>
                <a href="#" class="nav_links">Technical Skills</a>
                <a href="#" class="nav_links">Projects</a>
                <a href="#" class="nav_links">Other Skills</a>
                <a href="#" class="nav_links">Contact</a>
            </div>
        </nav>
        <section>
            <div class="box">
                <div class="inner_sec_1">
                    <div class="about">
                        <h3>Hi, I am <span>Marco Aceves</span></h3>
                        <h4>About Me:</h3>
                        <div class="paragraph" >
							<p> I'm a Full-Stack Web Developer passionate for creating tools that increase productivity in the workplace.
							</p>
							<p> I have over 6 years of experience as a licensed and certified Pharmacy Technician.</p>
							<p> I currently manage and implement new features in an application that I developed for AHF Pharmacy.</p>
							<p> As a Full Stack developer, I have experience creating web applications using object-oriented programming with Python, Flask, MySQL, Html, CSS, Bootstrap, Jinja, and JavaScript. I have experience collaborating via Github, and deploying web applications via Amazon Web Services.</p>
							<p> As a Pharmacy Technician, I have experience in handling private patient information and understating healthcare privacy laws.</p>
						</div>
                        <button onclick="location.href='http://www.example.com'" type="button" class="main_btn">
                            Contact</button>
                        <button onclick="location.href='http://www.example.com'" type="button" class="main_btn">
                            Resume</button>
                        
                    </div>
                     <img src="/static/img/stock-photo.jpg" alt="" class="profile_img">
                </div>
            </div>
        </section>
        <section>
            <div class="box">
                <div class="inner_sec_1">
                    <div class="about">
                        <h3>Hi, I am Marco Aceves</h3>
                        <h4>About Me:</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere fugiat itaque quia eum, doloribus voluptatibus. Qui neque, et ab quas error ullam beatae? Atque, dolorum dolore? Provident, laboriosam praesentium?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere fugiat itaque quia eum, doloribus voluptatibus. Qui neque, et ab quas error ullam beatae? Atque, dolorum dolore? Provident, laboriosam praesentium?
                        </p>
                        <button onclick="location.href='http://www.example.com'" type="button" class="main_btn">
                            Contact</button>
                        <button onclick="location.href='http://www.example.com'" type="button" class="main_btn">
                            Resume</button>
                        
                    </div>
                     <img src="/static/img/stock-photo.jpg" alt="" class="profile_img">
                </div>
            </div>
        </section>

    </div>
</body>
</html>