<!DOCTYPE html>
<html lang="en">
<head>
    <!-- rauto refresh page -->
    <!-- <script type="text/javascript" src="https://livejs.com/live.js"></script> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marco Aceves</title>
    <link rel="icon" href="static/img/code.png">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Marco Aceves"/>
    
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="static/css/marco.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>
<body>
    <div class="wrappper">
        <!-- nav -->
        <div class="nav_bar">
            <a href="/" class="active" id="logo">Marco Aceves</a>
            <div id="myLinks">
                <a href="/" class="nav_links">Home</a>
                <a href="#aboutme" class="nav_links">About Me</a>
                <a href="#technicalSkills" class="nav_links">Technical Skills</a>
                <a href="#Projects" class="nav_links">Projects</a>
                <a href='mailto: mr.aceves@gmail.com' class="nav_links">Contact</a>
            </div>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!-- section 1 about me -->
        <section id="aboutme">
            <div class="box">
                <div class="inner_sec_1">
                    <div class="about">
                        <h3>Hi, I am <span>Marco Aceves</span></h3>
                        <h4>About Me:</h3>
                        <div class="paragraph" >
							<p>&#x2022 I'm a <span>Full-Stack Web Developer</span>  passionate for creating tools that increase productivity in the workplace.
							</p>
							<p>&#x2022 I have over 6 years of experience as a licensed and <span>Certified Pharmacy Technician</span>.</p>
							<p>&#x2022 I currently manage and implement new features for a <span>Web application</span>  that I developed for AHF Pharmacy.</p>
							<p>&#x2022 As a Full Stack developer, I have <span>experience creating web applications</span> using object-oriented programming with Python, Flask, MySQL, Html, CSS, Bootstrap, Jinja, and JavaScript. I have experience collaborating via <span>Github</span>, and deploying web applications via <span>Amazon Web Services</span>. </p>
							<p>&#x2022 As a <span>Pharmacy Technician</span>, I have experience in handling private patient information and understating <span>healthcare privacy laws</span>.</p>
						</div>
                        <button onclick="location.href='mailto: mr.aceves@gmail.com'" type="button" class="main_btn">
                            Contact</button>
                            <a href="static/download/Marco-Aceves-Resume.pdf" download="Marco-Aceves-Resume.pdf">
                                <button type="button" class="main_btn">
                                    Resume</button>
                            </a>
                    </div>
                     <img src="/static/img/stock-photo.jpg" alt="" class="profile_img">
                </div>
            </div>
        </section>
        <!-- section 2 technical skills -->
        <section id="technicalSkills">
            <div class="box2" >
                <!-- tittle -->
                
                <h3>Technical Skills</h3>
                <hr>
                <!-- front end -->
                <div class="inner_sec_2">

                    <div class="techSkills">
                        <img src="static/img/icons/front.png" alt="">
                        <h4>Front-End</h4>
                        <p>HTML5, CSS3, JavaScript, Bootstrap</p>
                    </div>

                    <!-- back end -->
                    <div class="techSkills">
                        <img src="static/img/icons/python.png" alt="">
                        <h4>Back-End</h4>
                        <p>Python, Flask, Rest APIs, 3rd Party API Implementation</p>
                    </div>
                    <!-- databases -->
                    <div class="techSkills">
                        <img src="static/img/icons/mysql.png" alt="">
                        <h4>Database </h4>
                        <p>MySQL, SQL, Deployment Via Amazon Web Services, Jinja, Object-Oriented Programming, GitHub, VS code, WinSCP
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- section 3 Projects -->
        <section id="Projects">
            <div class="box3" >
                <!-- tittle -->
                
                <h3>Projects</h3>
                <hr>
                
                <div class="inner_sec_3">
                    <!-- Project 1-->
                    <div class="projects">
                        <img src="static/img/projects/project-1.png" alt="" style="max-width: 600px; width: 100%;">
                        <h4>Work Management <span>Web Application</span> </h4>
                        <p>A work Management Web Application that allows a Manager to assign tasks to employees. Employees can update their tasks throughout the day.</p>
                        <p><span>Built Using:</span>Python, MySQL, Google Translate API, AWS for Deployment, Boostrap/HTML/CSS</p>
                        <div class="project_links">
                            <!-- <a href="https://ubiquityofficial.com/" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/internet.png" id="project_links_img"/>
                            </a> -->
                            <a href="https://github.com/marcoaceves/manager_app" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/github.png" id="project_links_img"/>
                            </a>
                            <a href="https://www.youtube.com/watch?v=Wd_Ve_uTISE&ab_channel=MarcoAceves" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/youtube-play.png" id="project_links_img"/>
                            </a>
                        </div>
                    </div>

                    <!-- Project2 -->
                    <div class="projects">
                        <img src="static/img/projects/project-2.png" alt="" style="max-width: 600px; width: 100%;">
                        <h4>Commision Business/Band <span>Website</span> </h4>
                        <p>Allows the Business/Band Manager to update Members of the Band, Events, Music, and Videos. Features Image uploading for Members & Events. Allows user to update Videos and Music, with Youtube and Bandcamp Embed Links.</p>
                        <p><span>Built Using:</span>Python, MySQL, Python Email Proccessing, AWS for Deployment, Boostrap/HTML/CSS</p>
                        <div class="project_links">
                            <a href="https://ubiquityofficial.com/" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/internet.png" id="project_links_img"/>
                            </a>
                            <a href="https://github.com/marcoaceves/Ubiquity_Band" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/github.png" id="project_links_img"/>
                            </a>
                            <a href="https://www.youtube.com/watch?v=Mt4n3GAOOJs&ab_channel=MarcoAceves" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/youtube-play.png" id="project_links_img"/>
                            </a>
                        </div>
                    </div>
                    <!-- Project3 -->
                    <div class="projects">
                        <img src="static/img/projects/project-3.png" alt="" style="max-width: 600px; width: 100%;">
                        <h4>NASA <span>API</span> Weekly Images and Random Image generator </h4>
                        <p>Provides Weekly Astronomy feed using NASA's "Astronomy Picture of the Day" API. This Project also includes a Random Astronomy Image generator that randomly chooses a date within the "Astronomy Picture of the Day" API and then displays the Image and its information at a click of a button.</p>
                        <p><span>Built Using:</span> NASA API, Python, MySQL, AWS for Deployment, Boostrap/HTML/CSS</p>
                        <div class="project_links">
                            <a href="/nasa" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/internet.png" id="project_links_img"/>
                            </a>
                            <a href="https://github.com/marcoaceves/nasa/blob/main/README.md" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/github.png" id="project_links_img"/>
                            </a>
                            <!-- <a href="https://www.youtube.com/watch?v=Mt4n3GAOOJs&ab_channel=MarcoAceves" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/youtube-play.png" id="project_links_img"/>
                            </a> -->
                        </div>
                    </div>
                    <!-- Project4 -->
                    <div class="projects">
                        <img src="static/img/projects/project-4.png" alt="" style="max-width: 600px; width: 100%;">
                        <h4> Brawler Abilities <span>API</span> Project </h4>
                        <p>This website Uses the Brawl Stars API data provided by: <a href="https://brawlify.com/">Brawlify.com</a> to allow the user to select a character and provides the characters ability Information </p>
                        <p><span>Built Using:</span> NASA API, Python, MySQL, AWS for Deployment, Boostrap/HTML/CSS</p>
                        <div class="project_links">
                            <a href="/brawlstars" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/internet.png" id="project_links_img"/>
                            </a>
                            <a href="https://github.com/marcoaceves/my_portfolio/blob/main/flask_app/controllers/brawl.py" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/github.png" id="project_links_img"/>
                            </a>
                            <!-- <a href="https://www.youtube.com/watch?v=Mt4n3GAOOJs&ab_channel=MarcoAceves" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/youtube-play.png" id="project_links_img"/>
                            </a> -->
                        </div>
                    </div>
                    <!-- Project5 -->
                    <div class="projects">
                        <img src="static/img/projects/project-5.png" alt="" style="max-width: 600px; width: 100%;">
                        <h4> <span>Web Application</span>  Project Manager (In Development) </h4>
                        <p>Allows Users to collaborate on group projects</p>
                        <div class="project_links">
                            <!-- <a href="https://ubiquityofficial.com/" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/internet.png" id="project_links_img"/>
                            </a> -->
                            <a href="https://github.com/marcoaceves/project_portfolio_collab" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/github.png" id="project_links_img"/>
                            </a>
                            <!-- <a href="https://ubiquityofficial.com/" target="_blank">
                                <img src="https://img.icons8.com/nolan/64/youtube-play.png" id="project_links_img"/>
                            </a> -->
                        </div>
                        
                    </div>
                    <!-- Project4 -->
                    <div class="projects">
                        <img src="" alt="" style="max-width: 600px; width: 100%;">
                        <h4></h4>
                        <p></p>
                        <!-- <button onclick="location.href='http://www.example.com'" type="button" class="main_btn">
                            Detailed Information</button> -->
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <p>Copyright © 2022 Marco Aceves Design & Development,</p>
            <a target="_blank" href="https://icons8.com/icon/dhecLjnptiQg/front-end">Front End, Python, MySQL and Icon by Icons8</a>
        </footer>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
        </script>

</body>

</html>