*{margin: 0;
padding: 0;}
body{
    background-color:#292b2c;
    color: aliceblue;
    
}
#nav{
    background-color: rgba(20, 26, 53, 0.795);
    justify-content: center;

    padding-left: 90px;
}

.all_brawlers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#292b2c;
    padding: 40px calc((100% - (600px * 3)) / 2);
  }

.brawler{
    width: 300px;
    align-items: center;
    text-align: center;
}
